.container{
    margin-top: 5%;
}
.headertext{
    text-align: center;
    color:#0049FF;
}
.line{
    height: 0.5vh;
    background-color: #0049FF;
    margin: 0 10%;
    border-radius: 1vh;
}
.educontainer{
    display: grid;
    place-items: center;
    margin-top: 4%;
    
}
.education{
    height: auto;
    width: 78vw;
    background-color: rgb(246, 245, 245);
    display: flex;
    border-radius: 3vh;
    box-shadow: 0px 3px 10px grey;
}
.edutext{
    margin-left: 5%;
}

.eduimg{
    height: 60vh;
    width: 40vw;
    margin-left: 5%;
    margin-top: 10%;
}
.edudetail{
    width: 30vw;
    background-color: #0049FF;
    padding: 3% 3% 3% 3%;
    margin-top: 3%;
    border-radius: 3vh;
    color: white;
    opacity: 0.8;
    margin-bottom: 3%;
    
}
.edudetail:hover{
    opacity: 1;
    transition: ease-in 0.2s;
    box-shadow: 0px 3px 10px grey;
}
@media (min-width: 769px) and (max-width: 1024px) and (min-height: 601px) and (max-height: 1370px){
    .eduimg{
        height: 20vh;
        width: 20vw;
    }
    .edudetail{
        width: 50vw;
    }
}
@media (min-width: 540px) and (max-width: 768px) {
    .eduimg{
        height: 20vh;
        width: 20vw;
    }
    .edudetail{
        width: 50vw;
    }
}
@media (min-width: 300px) and (max-width: 539px){
    .education{
        flex-direction: column;
    }
    .eduimg{
        height: 20vh;
        width: 30vw;
    }
    .edudetail{
        width: 67vw;
    }
}
@media (max-width: 290px){
    .education{
        flex-direction: column;
    }
    .eduimg{
        height: 20vh;
        width: 30vw;
    }
    .edudetail{
        width: 80vw;
    }
    .education{
        width: 95vw;
    }
}