.container{
    margin-top: 5%;
}
.headertext{
    text-align: center;
    color:#0049FF;
}
.line{
    height: 0.5vh;
    background-color: #0049FF;
    margin: 0 10%;
    border-radius: 1vh;
}
.expcontainer{
    display: grid;
    place-items: center;
    margin-top: 4%;
    
}
.experience{
    height: auto;
    width: 78vw;
    background-color: rgb(246, 245, 245);
    display: flex;
    border-radius: 3vh;
    box-shadow: 0px 3px 10px grey;
}
.exptext{
    margin-left: 15%;
}
.exptext ul li{
    margin-top: 4%;
}
.expimg{
    height: 40vh;
    width: 20vw;
    margin-left: 20vw;
    flex-wrap: wrap;
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .expimg{
        margin-left: 15vw;
        height: 35vh;
    }
}
@media (min-width: 769px) and (max-width: 1024px) and (min-height: 601px) and (max-height: 1370px){
    .expimg{
        margin-left: 7vw;
        height: 20vh;
        margin-top: 10%;
    }
}
@media (min-width: 769px) and (max-width: 1024px) and (max-height: 600px){
    .expimg{
        margin-left: 7vw;
        height: 35vh;
        margin-top: 15%;
    }
}

@media (min-width: 540px) and (max-width: 768px) {
    .expimg{
        margin-left: 3vw;
        height: 20vh;
        margin-top: 8%;
    }
}
@media (min-width: 300px) and (max-width: 539px){
    .expimg{
        margin-left: 3vw;
        height: 10vh;
        margin-top: 8%;
    }
}
@media (max-width: 290px){
    .expimg{
        height: 7vh;
        width: 10vw;
        margin-top: 10%;
    }
    .experience{
        width: 95vw;
    }
}