.container{
    margin-top: 5%;
}
.headertext{
    text-align: center;
    color:#0049FF;
}
.line{
    height: 0.5vh;
    background-color: #0049FF;
    margin: 0 10%;
    border-radius: 1vh;
}
.projectcontainer{
    display: grid;
    place-items: center;
    margin-top: 4%;
    
}
.projects{
    height: auto;
    width: 78vw;
    background-color: rgb(246, 245, 245);
    display: flex;
    border-radius: 3vh;
    box-shadow: 0px 3px 10px grey;
    flex-wrap: wrap;
    padding: 1%;
    column-gap: 2rem;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
}
.plist{
    background-color: rgb(246, 245, 245);
    box-shadow: 5px 3px 15px -5px #0049FF;
    width: 35vw;
    height: auto;
    flex-direction: column;
    border-radius: 3vh;
    padding: 1%;
    display: flex;
    cursor: default;
   
    
}
.plist:hover{
    background-color:rgb(220, 220, 220) ;
    transition: ease-in .3s;
    opacity: 0.9;
}
.pimg{
    height: 30vh;
    width: 35vw;
    border-radius: 2vh;
    flex-wrap: wrap;
}
.view{
    height: 5vh;
    width: 5vw;
    border-radius: 3vh;
    border: 0.2vh solid #0049FF;
    color: #0049FF;
    
}

.view:hover{
    background-color: #0049FF;
    color: white;
    transition: ease-in .2s;
}
.btndiv{
    display: grid;
    place-items: end;
}
.more{
    text-decoration: none;
    color: #0049FF;
}
@media (min-width: 769px) and (max-width: 1024px) and (min-height: 601px) and (max-height: 1370px){
    .view{
        width: 12vw;
    }
}
@media (min-width: 540px) and (max-width: 768px) {
    .plist{
        width: 75vw;
    }
    .pimg{
        width: 75vw;
    }
    .view{
        width: 12vw;
    }
}
@media (min-width: 300px) and (max-width: 539px){
    .plist{
        width: 75vw;
    }
    .pimg{
        width: 75vw;
    }
    .view{
        width: 15vw;
    }
}
@media (max-width: 290px){
    .plist{
        width: 90vw;
    }
    .pimg{
        width: 90vw;
    }
    .view{
        width: 20vw;
    }
    .projects{
        width: 95vw;
    }
}