.container{
    margin-top: 5%;
}
.headertext{
    text-align: center;
    color:#0049FF;
}
.line{
    height: 0.5vh;
    background-color: #0049FF;
    margin: 0 10%;
    border-radius: 1vh;
}
.skillcontainer{
    display: grid;
    place-items: center;
    margin-top: 4%;
    
}
.skills{
    height: auto;
    width: 78vw;
    background-color: rgb(246, 245, 245);
    display: flex;
    border-radius: 3vh;
    box-shadow: 0px 3px 10px grey;
    align-items: left;
    justify-content: left;
}
.skills ul{
    display: flex;
    list-style: none;
    
}
.skills ul li{
    margin-left: 1.5%;
}
